numpy==2.1.2
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.13.1
joblib==1.4.2
matplotlib==3.9.2
seaborn==0.13.2
imbalanced-learn==0.12.4
transformers==4.44.2
accelerate==0.34.2
torch>=2.2.0
captum==0.7.0
huggingface-hub==0.24.6
tqdm==4.66.5
jsonlines==4.0.0
